/node_modules
/public/storage
/storage/*.key
/storage/logs/*.log
/vendor
/storage/logs/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
#public/css
#/public/js
# But not these files...
#!/public/assets/*
#/public/assets/js
#/public/assets/css
#/public/assets/vendor
.DS_Store
node_modules
storage/*.key
storage/logs/
/.env
